# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfplan
.terragrunt-cache/

# Python
__pycache__/
*.py[cod]
*.so
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# Sensitive Data / Local Config
*.pem
*.ovpn
*.csv
.env
teachy-admin_accessKeys.csv
teachy-vpn.ovpn

# OS
.DS_Store
Thumbs.db

# Temporary Prints
prints/
